.form {
    border-radius: 2%;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: #e0d147;
}

.form-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 3px 0;
    resize: none;
    opacity: .9;
}

.formTitle, .addBtn {
    font-size: 1.2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    opacity: 0.9;
}

.modal-btn {
    width: 35%;
    margin: 0 1rem;
}

@media only screen and (max-width: 600px) {
    .form {
        width: 90%;
    }
}