.notes-list {
    display: flex;
    flex-wrap: wrap;
}

.saved-note {
    background-color: #77ccc7;
    border-radius: 2%;
    list-style: none;
    width: 28vw;
    padding: .6rem;
    margin: 1rem;
}

.note-content {
    border-radius: 2%;
    text-align: start;
    background-color: #fff;
    opacity: 0.8;
    overflow: hidden;
    height: 3.5rem;
    margin-top: .5rem;
}

.created-date {
    border-radius: 6%;
    font-size: 9px;
    font-weight: bold;
    color: #fff;
}

.modDate {
    border-radius: 6%;
    font-size: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.delete-btn {
    margin: .5rem 1rem;
}

.modal .modal-content {
    background-color: #ecddc6;
}

@media only screen and (max-width: 600px) {
    .saved-note {
        width: 80%;
    }
}